.take-part {

  position: relative;

  &__star {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 2;
    mix-blend-mode: screen;

    &_1 {
      width: 87.82px;

      left: 56px;
      top: 586px;

      transform: rotate(-77.21deg);
    }

    &_2 {
      width: 87.82px;

      left: 61.06px;
      top: 838px;

      transform: rotate(-77.21deg);
    }

    &_3 {
      width: 55.15px;

      left: 306.56px;
      top: 806px;

      transform: rotate(-77.21deg);
    }

    &_4 {
      width: 87.82px;

      left: 296.71px;
      top: 927px;

      transform: rotate(-77.21deg);
    }

    &_5 {
      width: 87.82px;

      left: 1462px;
      top: 998px;

      transform: rotate(-77.21deg);
    }

    &_6 {
      width: 64.22px;

      left: 1727.38px;
      top: 886px;

      transform: rotate(-77.21deg);
    }

    @include MOBILE {
      display: none;
    }
  }

  &__barrel {
    position: absolute;

    &_15 {
      left: 159px;
      top: 923px;
    }

    &_3 {
      left: 1385.24px;
      top: 867px;

      transform: rotate(58.24deg);
    }

    @include MOBILE {
      display: none;
    }
  }

  &__leaf {
    position: absolute;

    width: 240px;

    left: 1647.75px;
    top: 970px;

    transform: rotate(19.99deg);

    @include MOBILE {
      display: none;
    }
  }

  &__title {
    padding-top: 90px;
    padding-left: 198px;

    margin: 0;

    width: fit-content;

    font-family: $MONTSERRAT;
    font-weight: 700;
    font-size: 73px;
    font-style: normal;
    line-height: 64.9px;

    color: $TITLE-COLOR;

    @include MOBILE {
      padding-top: 94.46px;
      padding-left: 17px;

      font-size: 32px;
      line-height: 36px;
    }
  }

  &__carousel {
    margin-top: 50px;
    width: 1681px;

    padding-left: 198px;
    padding-right: 38px;

    @include MOBILE {
      margin-top: 23px;
      padding: 0 0 0 31px;
    }
  }

  & .swiper-wrapper {
    //  width: 1681px;
    margin: 0 auto;
  }

  & .swiper-slide {
    width: 518px;
    height: 607px;

    box-sizing: border-box;

    @include MOBILE {
      width: 257px !important;
      height: 389px;
    }
  }

  & .swiper-slide-active {
    width: 1135px !important;

    @include MOBILE {
      width: 257px !important;
    }
  }

  &__action-order {
    width: inherit;
    height: inherit;

    position: relative;

    background: rgba(255, 255, 255, 0.6);
    border: 2px solid #FFFFFF;
    border-radius: 44px;

    //TODO: add gradient
    &_active {
      background: linear-gradient(#4C2B94, #A34881);
      border: none;

      @include MOBILE {
        & .take-part__action-order-icon {
          display: block;
        }
      }
    }

    @include MOBILE {
      //  background: linear-gradient(180deg, #4C2B94 0%, rgba(76, 43, 148, 0) 100%);
      border-radius: 20px;
    }
  }

  &__action-order-line {
    width: 458px;
    height: 2px;

    margin: 0 auto;

    background-color: $WHITE;

    .take-part__action-order_active & {
      width: 1062px;
      background-color: rgba(255, 255, 255, 0.3);
    }

    @include MOBILE {
      display: none;
    }
  }

  &__action-order-step-wrapper {
    width: 84px;
    height: 84px;

    margin: 34px 0 21px 35px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    background-color: $WHITE;

    .take-part__action-order_active & {
      background-color: $BUTTON-COLOR;
    }

    @include MOBILE {
      width: 37px;
      height: 37px;

      margin: 22px 0 15px 14px;
    }
  }

  &__action-order-step {
    display: inline-block;
    width: fit-content;

    margin: 0;

    font-family: $MONTSERRAT;
    font-weight: 700;
    font-size: 40px;
    font-style: normal;
    line-height: 46.4px;

    text-align: center;

    color: $BUTTON-COLOR;

    .take-part__action-order_active & {
      color: $WHITE;
    }

    @include MOBILE {
      font-size: 17px;
      line-height: 19.72px;
    }
  }

  &__action-order-title {
    width: 360px;
    height: 92px;

    margin: 19px 0 0 38px;

    white-space: pre-wrap;

    font-family: $MONTSERRAT;
    font-weight: 700;
    font-size: 40px;
    font-style: normal;
    line-height: 46.4px;

    color: $TITLE-COLOR;

    .take-part__action-order_active & {
      color: $WHITE;
    }

    @include MOBILE {
      width: 219px;
      height: 47px;

      margin: 0 0 0 14px;

      font-size: 17px;
      line-height: 20px;
    }
  }

  &__action-order-text {
    width: 455px;
    margin: 16.27px 25px 49px 38px;

    white-space: pre-wrap;

    font-family: $MONTSERRAT;
    font-weight: 400;
    font-size: 24px;
    font-style: normal;
    line-height: 31.2px;

    color: $TITLE-COLOR;

    .take-part__action-order_active & {
      width: 596px;

      color: $WHITE;

      @include MOBILE {
        width: 218px;
      }
    }

    @include MOBILE {
      width: 218px;
      margin: 2px 25px 66px 14px;

      font-size: 17px;
      line-height: 20px;
    }
  }

  &__action-order-icon {
    position: relative;
    left: 830px;
    bottom: 230px;

    @include MOBILE {
      position: absolute;
      top: 22px;
      display: none;

      &_1 {
        width: 84.48px;
        left: 149px;
      }

      &_2 {
        width: 69.08px;
        left: 169px;
      }

      &_3 {
        width: 47.22px;
        left: 190px;
      }

      &_4 {
        width: 82.16px;
        left: 155px;
      }
    }
  }

  &__nav-block {
    display: flex;
    flex-direction: row;

    width: fit-content;
    margin: 40px auto 0;

    @include MOBILE {
      display: none;
    }
  }

  &__nav {
    background-image: url('/images/carousel-arrow.png');
    width: 45px;
    height: 45px;

    padding: 0;
    border: none;

    border-radius: 10px;

    transition: opacity 200ms;

    &_prev {
      transform: rotate(180deg);
    }

    &_disabled {
      opacity: 0.7;

      pointer-events: none;
    }
  }

  &__nav-text {
    margin: 0 18px;

    font-family: $MONTSERRAT;
    font-weight: 700;
    font-size: 20px;
    font-style: normal;
    line-height: 45px;

    text-align: center;

    color: $TITLE-COLOR;
  }

  &__button {
    margin: 40px auto 0;

    @include MOBILE {
      display: none !important;
    }
  }

  &__button-also-want {
    margin: 14px auto;

    @include NOT-MOBILE {
      display: none !important;
    }
  }

}