.barrels {

  &__title {
    margin: 218px 0 0 161px;

    white-space: pre-wrap;
    font-family: $MONTSERRAT;
    font-style: normal;
    font-weight: 700;
    font-size: 74px;
    line-height: 70.3px;

    color: $WHITE;
  }
}