$MOBILE: 320px;
$TABLET: 768px;
$TABLET-L: 1024px;
$DESKTOP: 1280px;

$DESIGN-W: 1280px;
$DESIGN-H: 1024px;
$DESIGN-W-M: 320px;
$DESIGN-H-M: 568px*1.1;

// colors
$WHITE: #ffffff;
$BG-COLOR: #ffdd63;
$TITLE-COLOR: #141d3a;
$VIOLET: #350296;
$RED: #e12d2d;
$BUTTON-COLOR: #ffda00;
$BACK-TAKE-PART: #4c2b94;
$FOOTER-COLOR: #0f1114;
$FOOTER-COLOR-MOBILE: #151b23;
$FOOTER-GRAY: #7f858a;

// fonts
$MONTSERRAT: 'Montserrat', Helvetica, sans-serif;
